
:root {
    --main-text-color: #FFF;
    --btn-color: #FF4E50;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn-box-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

header {
    position: absolute;
    top: 19px;
    width: 100%;
        height: 100%;
        vertical-align: top;
        position: absolute;
        /* top: 0; */
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
}

.header-text {
    margin-right: 200px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header-btn-one {
    color: #FFF;
    text-align: center;
    font-size: 13.986px;
    margin-right: 5px;
    font-family: Montserrat;
    font-weight: 700;
    background-color: transparent;
}

.header-btn-two {
    /* Sign up */
        width: 83px;
        /* height: 17px; */
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 13.9859px;
        line-height: 17px;
        /* identical to box height */
        text-align: center;
        color: #FFFFFF;
         box-sizing: border-box;
        background: rgba(26, 25, 21, 0.0001);
        border: 2px solid #FFFFFF;
        padding-bottom: 11px;
        padding-top: 11px;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 29px;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}


@media screen and (min-width: 480px) {
    .container {
        max-width: 768px;
    }

    .header-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .container {
       max-width: 1600px;
    }

     .header-box {
        padding-top: 10px;
       padding-left: 235px;
    }

    .header-text {
        margin-right: 300px;
    }
}

.hero {
    max-width: 1600px;
    padding-top: 170px;
    padding-bottom: 140px;
    background-image: url(img/VectorSmartObject1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 480px) {
    .hero {
        background-image: url(img/tablet-header.png);
    }
    

    .hero-text {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        background-image: url(img/desk-header.png);
        height: 700px;
    }

    .hero-text {
        display: none;
    }

    .hero-heading {
        margin: 0 auto;
        width: 507px !important;
        color: #FFF;
        text-align: center !important;
        font-size: 52px !important;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 36px !important;
    }

    .hero-text-two {
        margin-bottom: 33px !important;
        width: 408px !important;
        color: #FFF;
        text-align: center !important;
        font-size: 24px !important;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}

@media screen and (max-width: 480px) {
    .header-text {
        display: none;
    }
}

.hero-text {
    color: var(--main-text-color);
        text-align: center;
        font-size: 18px;
        font-family: Montserrat;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 20px;
}

.hero-heading {
    color: var(--main-text-color);
    text-align: center;
    font-size: 30.041px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.hero-text-two {
    width: 247.026px;
    color: var(--main-text-color);
    text-align: center;
    font-size: 18.025px;
    margin: 0 auto;
    font-family: Roboto;
    margin-bottom: 15px;
    font-weight: 300;
}

.hero-btn {
    width: 282px;
    height: 43px;
    background-color: var(--btn-color);
    color: var(--main-text-color);
    text-align: center;
    font-size: 13.999px;
    font-family: Montserrat;
    font-weight: 700;
    border-radius: 35px;
}

.about {
    max-width: 1600px;
}

.about-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 480px) {
    .about-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .about-list {
        grid-template-columns: repeat(4, 1fr);
    }
}


.about-list-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-heading {
    width: 288.006px;
    color: #333;
    margin: 0 auto;
    margin-top: 61px;
    text-align: center;
    font-size: 22.004px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: normal;
}

@media screen and (min-width: 480px) {
    .about-heading {
        width: 431px;
        color: #333;
        text-align: center;
        font-size: 22.004px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 35px;
    }
}

@media screen and (min-width: 1024px) {
    .about-heading {
        width: 431px;
        margin-bottom: 35px;
       color: #333;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.about-img {
    width: 120px;
    height: 120px;
}

.about-list-heading {
    margin-top: 13px;
    margin-bottom: 12px;
    color: #333;
    text-align: center;
    font-size: 14.011px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.about-list-text {
    color: #666;
    width: 247.024px;
    text-align: center;
    font-size: 14.011px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 31px;
    line-height: normal;
}

.about-btn {
    color: #FF4E50;
    text-align: center;
    font-size: 14.001px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    padding: 10px 59px;
    background-color: transparent;
    border: 1px solid #FF4E50;
    border-radius: 31px;
    margin-bottom: 57px;
    line-height: normal;
}

.about-btn-box {
    display: flex;
    justify-content: center;
}